* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
}

.card {
  border: 1px black dotted;
  margin-top: 1rem;
}

.card img {
  width: 100%;
  display: flex;
}

.card h2 {
  background: #fff;
  padding: 5px;
}

/* Bei Bildschirmen größer als 1024px sollen die Mops-Karten nebeneinander angeordnet sein 
Ab 768 px bis 1023px soll der Body rot sein */
@media(min-width: 1024px) {

  .row {
    display: flex;
    gap: 20px;
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  body {
    background: red;}
}

/* Die Überschriftengröße auf einem großen Bildschirm mit 1600px soll 48px und mittig sein */
@media(min-width:1600px) {
  .card h2 {
    font-size: 48px;
    text-align: center;
  }
}
