* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1 {
  margin: 1rem 0;
}

section {
  border-bottom: 1px solid #000;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  min-height: 300px;
}

.row {
  width: 100%;
  min-width: 10px;
  padding: 1rem 0;
  min-height: 300px;
  background-color: yellow; /* nur zur Visualisierung der Box */
  display: flex; /* die Spalten werden nebeneinander gestellt */
  justify-content: center; /*Spalten werden auf der x-Achse angeordnet */
  align-items: stretch; /* definiert die Position auf der y-Achse */
  gap: 10px; /* erstellt eine Lücke zwischen den Spalten */
}

.col {
  min-width: 20px;
  min-height: 20px;
  text-align: center;
  flex-grow: 1; /* alle Spalten dürfen den verfügbaren Raum einnehmen; 1 = 1 Teil */
}

.trolley-grey {
  background: #7d7c84;
}

.sea-green {
  background: #2d93ad;
}

.middle-red {
  background: #de8f6e;
  width: 50% /* gibt dieser Spalte die Hälfte des verfügbaren Raumes und reduziert die anderen Spalten proportional. Diese werden aber immer eine Mindestbreite von 20px behalten */
}

.black {
  background: #000;
}

.orange {
  background: orange
}

.olive {
  background: olive;
}
